/* COLOR PALETTE CARDS */

.card-top {
    display: flex;
    justify-content: space-between;
    background-color: #EC87C0;
    border-radius: 10% 10% 0% 0%;
}

.card-color-1 { background-color: #D8CFD0; }
.card-color-2 { background-color: #F2F1EF; }
.card-color-3 { background-color: #B1A6A4; }
.card-color-4 { background-color: #687184; }
.card-color-5 { background-color: #413F3D; }

.card-top-left {
    background-color: #FDF8F0;
}

.card-bottom {
    background-color: white;
    padding: 0px 10px 0px 10px;
}

/* TYPOGRAPHY */

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.narrow {
    font-stretch: condensed;
}

/* BUTTONS */

.bigbutton {
    border-radius: 4px;
    border: solid 2px #687184;
    padding: 0px 15px 0px 15px;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    color: #687184;
    font-size: 18px;
}

.smallbutton {
    border-radius: 20px;
    border: solid 2px #687184;
    padding: 0px 15px 0px 15px;
    margin: 15px 5px 15px 5px;
    background-color: transparent;
    color: #687184;
    font-size: 16px;
}

.iconbutton {
    border-radius: 8px;
    border: solid 2px #687184;
    padding: 10px 10px 10px 10px;
    margin: 15px 5px 15px 5px;
    background-color: transparent;
    color: #687184;
    font-size: 16px;
}

/* SEARCH BARS */

.searchbar-button {
    border-radius: 8px;
    border: solid 2px #687184;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
}

.searchbar-no-button {
    border-radius: 25px;
    border: solid 2px #687184;
    padding: 10px 10px 10px 10px;
    margin: 15px 0 15px 0;
    font-size: 16px;
}